/*
 * SPDX-License-Identifier: AGPL-3.0-or-later
 * Copyright (C) 2025 Mingyuan Xiang
 */

#ifndef {{ layer_name | upper }}_LAYER_H
#define {{ layer_name | upper }}_LAYER_H

#include <libfixedAbstract/fixed.h>
#include <libmspdriver/driverlib.h>
#include <libmatAbstract/mat.h>
#include <stdint.h>
#include <libdsp/DSPLib.h>

{% if has_weights -%}
void {%if hifram%} __attribute__((section(".upper.text"))){%endif%} {{ layer_name }}(mat_t* input, mat_t* output, mat_t* weight, mat_t* bias);
{%- else -%}
void {%if hifram%} __attribute__((section(".upper.text"))){%endif%} {{ layer_name }}(mat_t* input, mat_t* output);
{%- endif %}

#endif