{% if global_mem_buffer %}
#define _LEA_ADD_SIZE {{ lea_buffer_size }}
{%- else %}
#define _LEA_ADD_SIZE {{ lea_src_size }}
{% endif %}
#define _OUTPUT_SIZE {{ out_len }}
#define _LEA_REMAIN_SIZE (_OUTPUT_SIZE % _LEA_ADD_SIZE)
{%- if padding %}
#define _PADDING_TOP {{ padding["top"] }}
#define _PADDING_BOTTOM {{ padding["bottom"] }}
#define _PADDING_RIGHT {{ padding["right"] }}
#define _PADDING_LEFT {{ padding["left"] }}
{%- endif %}
{% if global_mem_buffer %}
/* assign the lea buffer pointer */
#define lea_src (lea_buffer)
#define lea_flt (lea_buffer + {{ lea_src_size }})
#define lea_tmp (lea_buffer + {{ lea_src_size + lea_flt_size }})
#define lea_dst (lea_buffer + {{ lea_src_size + lea_flt_size + lea_tmp_size }})
{% endif %}
#define _INPUT_LINE_SIZE {{ in_line_size }}
{% if stride_row > 1 %}
#define _STRIDE_ROW_SIZE {{ stride_row }}
{%- endif %}
{%- if stride_col > 1 %}
#define _STRIDE_COL_SIZE {{ stride_col }}
{%- endif %}
{%- if flt_col_size % 2 != 0 %}
#define _KERNEL_SIZE_ALIGNED {{ flt_col_size + 1 }}
{%- endif %}
#define _KERNEL_ROW_SIZE {{ flt_size }}
#define _KERNEL_COL_SIZE {{ flt_col_size }}
{% if lea_opt %}
static inline __attribute__((always_inline)) void new_add_q15(const _q15* srcA, const _q15* srcB, _q15* dst) {
  lea_add_params->input2 = MSP_LEA_CONVERT_ADDRESS(srcB);
  lea_add_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(srcA);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_add_params);

  /* Invoke the LEACMD__ADDMATRIX command. */
  msp_lea_invokeCommand(LEACMD__ADDMATRIX);
}

static inline __attribute__((always_inline)) void new_fir_q15(_q15* coeffs, const _q15* src, _q15* dst) {
  /* Set MSP_LEA_FIR_PARAMS structure. */
  lea_fir_params->coeffs = MSP_LEA_CONVERT_ADDRESS(coeffs);
  lea_fir_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(src);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_fir_params);

  /* Invoke the LEACMD__FIR command. */
  msp_lea_invokeCommand(LEACMD__FIR);
}

static inline __attribute__((always_inline)) void set_offset(int16_t offset) {
  offset_vector[0] = offset;
  offset_vector[1] = offset;
}

static inline __attribute__((always_inline)) void new_offset_q15(const _q15* src, _q15* dst) {
  lea_offset_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(src);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_offset_params);

  /* Invoke the LEACMD__ADDMATRIX command. */
  msp_lea_invokeCommand(LEACMD__ADDMATRIX);
}
{% if stride_col > 1 %}
static inline __attribute__((always_inline)) void new_deinterleave_q15(const _q15* src, _q15* dst) {
  lea_deinterleave_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(&src[deinterleave_channel]);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_deinterleave_params);

  /* Invoke the command. */
  msp_lea_invokeCommand(deinterleave_cmdId);
}
{%- endif %}
{%- endif %}

void {{ layer_name }}(mat_t* input, mat_t* output, mat_t* weight, mat_t* bias) {
  uint16_t in_channels = input->dims[1];
  uint16_t out_channels = output->dims[1];
  {%- if (global_mem_buffer and out_len >= lea_buffer_size) or ((not global_mem_buffer) and out_len >= lea_src_size) or (group == 1) %}
  uint16_t output_len = output->strides[1];
  {%- endif %}
  uint16_t input_len = input->strides[1];
  uint16_t kernel_row_size = _KERNEL_ROW_SIZE;
  uint16_t kernel_col_size = _KERNEL_COL_SIZE;

  uintptr_t src_lea_addr = (uintptr_t)lea_src;
  uintptr_t dst_lea_addr = (uintptr_t)lea_dst;

  uintptr_t flt_lea_addr = (uintptr_t)lea_flt;
  uintptr_t flt_fram_addr = (uintptr_t)(weight->data);
  {%- if flt_col_size % 2 == 0 %}
  uint16_t flt_len = weight->strides[1];
  uintptr_t flt_addr_offset = flt_len * sizeof(int16_t);
  {%- endif %}
  uintptr_t flt_addr_col_offset = kernel_col_size * sizeof(int16_t);
  uintptr_t flt_addr_padding_offset = (kernel_col_size + 1) * sizeof(int16_t);
  uintptr_t input_lea_addr = src_lea_addr;
  uintptr_t input_fram_addr = (uintptr_t)(input->data);
  uintptr_t input_channel_addr = input_fram_addr;
  uintptr_t input_channel_offset = input_len * sizeof(int16_t);
  uintptr_t output_lea_addr = dst_lea_addr;
  uintptr_t output_fram_addr = (uintptr_t)(output->data);
  {%- if group == 1 %}
  uintptr_t output_addr_offset = output_len * sizeof(int16_t);
  {%- endif %}

  int16_t* conv_flt = lea_flt;
  uint16_t input_line_size = input->dims[3];
  uint16_t output_line_size = output->dims[3];
  uint16_t output_line_num = output->dims[2];
  uint16_t output_line_size_offset = output_line_size * sizeof(int16_t);
  uint16_t input_line_size_offset = input_line_size * sizeof(int16_t);

  uint16_t lea_remain_size = _LEA_REMAIN_SIZE;
  {%- if (global_mem_buffer and (out_len % lea_buffer_size) != 0) or ((not global_mem_buffer) and (out_len % lea_src_size) != 0) %}
  uintptr_t output_remain_size_offset = lea_remain_size * sizeof(int16_t);
  {%- endif %}
  {%- if (global_mem_buffer and out_len >= lea_buffer_size) or ((not global_mem_buffer) and out_len >= lea_src_size) %}
  uintptr_t output_lea_min_size_offset = _LEA_ADD_SIZE * sizeof(int16_t);
  {%- endif %}
  uint16_t lea_remain_size_aligned = MAKE_ALIGN_2(lea_remain_size);
  {% if stride_row > 1 %}
  uint16_t input_line_strided_size_offset = _INPUT_LINE_SIZE * _STRIDE_ROW_SIZE * sizeof(int16_t);
  {%- endif %}

  {% if lea_opt %}
  {%- if stride_col > 1 %}
  deinterleave_init(MAKE_ALIGN_2(output_line_size), 0, _STRIDE_COL_SIZE);
  {%- endif %}
  uint16_t tapLength = MAKE_ALIGN_2(kernel_col_size);
  add_init(MAKE_ALIGN_2(output_line_size));
  fir_init(MAKE_ALIGN_2(input_line_size - kernel_col_size + 1), tapLength);
  offset_init(lea_remain_size_aligned);
  {%- else %}
  {%- if stride_col > 1 %}
  msp_deinterleave_q15_params deinterleave_params = {
    .length = MAKE_ALIGN_2(output_line_size),
    .channel = 0,
    .numChannels = _STRIDE_COL_SIZE
  };
  {%- endif %}
  msp_fir_q15_params conv_params = {
    .length = MAKE_ALIGN_2(input_line_size - kernel_col_size + 1),
    .tapLength = MAKE_ALIGN_2(kernel_col_size),
    .coeffs = lea_flt,
    .enableCircularBuffer = false 
  };
  msp_add_q15_params add_params = { .length = MAKE_ALIGN_2(output_line_size) };
  msp_offset_q15_params offset_params = { .length = lea_remain_size_aligned, .offset = 0 };
  {%- endif %}
  {%- if has_adaptive_gen_mem %}
  uint16_t s;
  {%- if (flt_col_size < adaptive_gen_mem_size) or (flt_len < adaptive_gen_mem_size) %}
  uint16_t flt_lea_pos = 0;
  uint16_t flt_fram_pos = 0;
  {%- endif %}

  {%- if out_line_size < adaptive_gen_mem_size %}
  uint16_t output_fram_pos = 0;
  {%- endif %}

  {%- if in_line_size < adaptive_gen_mem_size %}
  uint16_t input_fram_pos = 0;
  uint16_t input_channel_pos = 0;

  {%- if stride_row > 1 %}
  uint16_t input_line_strided_size = _INPUT_LINE_SIZE * _STRIDE_ROW_SIZE;
  {%- endif %}
  {%- endif %}
  {%- endif %}

  {%- if dma_opt %}
  uint16_t zero = 0;
  {%- endif %}

  {% if flt_col_size % 2 != 0 %}
  /* set the aligned position to be zeros */
  uint16_t lea_reset_pos = 0;
  for (uint16_t k = 0; k < kernel_row_size; ++k) {
    lea_flt[lea_reset_pos] = 0;
    lea_reset_pos += (kernel_col_size + 1);
  }
  {%- endif %}

  lea_src[_INPUT_LINE_SIZE] = 0;
  lea_src[_INPUT_LINE_SIZE + 1] = 0;

  {%- if padding %}

  /* Pad the input for ({{ padding["left"] }}, {{ padding["right"] }}, {{ padding["top"] }}, {{ padding["bottom"] }}) */
  {%- if dma_opt %}
  DMA_setWord(output_fram_addr, zero, GET_MAT_SIZE(input));
  {%- else %}
  memset(output->data, 0, GET_MAT_SIZE(input)*sizeof(int16_t));
  {%- endif %}
  uint16_t input_line_num = input->dims[2] - _PADDING_TOP - _PADDING_BOTTOM;
  uint16_t input_line_size_bf = input->dims[3] - _PADDING_RIGHT - _PADDING_LEFT;
  _q15* padding_ptr_in = input->data;
  _q15* padding_ptr_out = output->data;
  for (uint16_t i = 0; i < in_channels; ++i) {
    {%- for n in range(padding["top"]) %}
    padding_ptr_out += input_line_size;
    {%- endfor %}
    for (uint16_t j = 0; j < input_line_num; ++j) {
      padding_ptr_out += _PADDING_LEFT;
      {%- if has_adaptive_gen_mem and (in_line_size - padding["left"] - padding["right"] < adaptive_gen_mem_size) %}
      {%- for n in range(in_line_size - padding["left"] - padding["right"]) %}
      *padding_ptr_out = *padding_ptr_in;
      ++padding_ptr_out;
      ++padding_ptr_in;
      {%- endfor %}

      padding_ptr_out += _PADDING_RIGHT;
      {%- else %}
      DMA_makeTransfer((uintptr_t)padding_ptr_in, (uintptr_t)padding_ptr_out, input_line_size_bf);
      padding_ptr_in += input_line_size_bf;
      padding_ptr_out += (_PADDING_RIGHT + input_line_size_bf);
      {%- endif %}
    }
    {%- for n in range(padding["bottom"]) %}
    padding_ptr_out += input_line_size;
    {%- endfor %}
  }

  DMA_makeTransfer(output_fram_addr, input_fram_addr, GET_MAT_SIZE(input));
  {%- endif %} 
  {%- if dma_opt %}
  DMA_setWord(output_fram_addr, zero, GET_MAT_SIZE(output));
  {%- else %}
  memset(output->data, 0, GET_MAT_SIZE(output)*sizeof(int16_t));
  {%- endif %}

  /* convolution */
{%- if group == 1 %}
  for (uint16_t i = 0; i < out_channels; ++i) {
    {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
    input_fram_pos = 0;
    {%- else %}
    input_fram_addr = (uintptr_t)(input->data);
    {%- endif %}
{%- else %}
  {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
  uint16_t tmp_output_pos = output_fram_pos;
  {%- else %}
  uintptr_t tmp_output_addr = output_fram_addr;
  {%- endif %}
{%- endif %}
    for (uint16_t j = 0; j < in_channels; ++j) {
      {%- if group == 1 %}
      {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
      uint16_t tmp_output_pos = output_fram_pos;
      {%- else %}
      uintptr_t tmp_output_addr = output_fram_addr;
      {%- endif %}
      {%- endif %}

      {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
      input_channel_pos = input_fram_pos;
      {%- else %}
      input_channel_addr = input_fram_addr;
      {%- endif %}

      /* send kernel to LEA RAM */
      {%- if flt_col_size % 2 != 0 %}
      /*
      * pad zero to the beginning of the filter if the filter's size is
      * not aligned to 2
      */
      {%- if has_adaptive_gen_mem and flt_col_size < adaptive_gen_mem_size %}
      ++flt_lea_pos;
      {%- else %}
      flt_lea_addr += sizeof(uint16_t);
      {%- endif %}

      for (uint16_t k = 0; k < kernel_row_size; ++k) {
        {%- if has_adaptive_gen_mem and flt_col_size < adaptive_gen_mem_size %}
        {%- for n in range(flt_col_size) %}
        lea_flt[flt_lea_pos] = weight->data[flt_fram_pos];
        flt_lea_pos++;
        flt_fram_pos++;
        {%- endfor %}

        flt_lea_pos++;

        {%- else %}
        DMA_makeTransfer(flt_fram_addr, flt_lea_addr, kernel_col_size);
        flt_lea_addr += flt_addr_padding_offset;
        flt_fram_addr += flt_addr_col_offset;
        {%- endif %}
      }
      /* restore flt_lea_addr pointer to the beginning of the array */
      {%- if has_adaptive_gen_mem and flt_col_size < adaptive_gen_mem_size %}
      flt_lea_pos = 0;
      {%- else %}
      flt_lea_addr = (uintptr_t)lea_flt;
      {%- endif %}

      {%- else %}

      {%- if has_adaptive_gen_mem and flt_len < adaptive_gen_mem_size %}
      {%- for n in range(flt_len) %}
      lea_flt[{{ loop.index0 }}] = weight->data[flt_fram_pos];
      flt_fram_pos++;
      {%- endfor %}

      {%- else %}
      DMA_makeTransfer(flt_fram_addr, flt_lea_addr, flt_len);
      flt_fram_addr += flt_addr_offset;
      {%- endif %}

      {%- endif %}

      for (uint16_t l = 0; l < output_line_num; ++l) {
        {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
        uint16_t tmp_input_pos = input_channel_pos;
        {%- else %}
        uintptr_t tmp_input_addr = input_channel_addr;
        {%- endif %}
        /* send output to LEA RAM */
        {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
        s = tmp_output_pos;
        {%- for n in range(out_line_size) %}
        lea_dst[{{ loop.index0 }}] = output->data[s];
        s++;
        {%- endfor %}

        {%- else %}
        DMA_makeTransfer(tmp_output_addr, output_lea_addr, output_line_size);
        {%- endif %}

        conv_flt = lea_flt;

        for (uint16_t k = 0; k < kernel_row_size; ++k) {
          /* send input to LEA RAM */
          {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
          {%- for n in range(in_line_size) %}
          lea_src[{{ loop.index0 }}] = input->data[tmp_input_pos];
          tmp_input_pos++;
          {%- endfor %}

          {%- else %}
          DMA_makeTransfer(tmp_input_addr, input_lea_addr, input_line_size);
          {%- endif %}

          {%- if not lea_opt %}
          conv_params.coeffs = conv_flt;
          {%- endif %}

          /* convolution */
          {%- if lea_opt %}
          new_fir_q15(conv_flt, lea_src, lea_tmp);
          {%- else %}
          msp_fir_q15(&conv_params, lea_src, lea_tmp);
          {%- endif %}
          {%- if stride_col > 1 %}
          /*
          * stride
          * Use lea deinterleave and store it in the lea_src
          */
          {% if lea_opt %}
          new_deinterleave_q15(lea_tmp, lea_src);

          /* accumulate results for a 2D convolution */
          new_add_q15(lea_dst, lea_src, lea_dst);
          {%- else %}
          msp_deinterleave_q15(&deinterleave_params, lea_tmp, lea_src);

          /* accumulate results for a 2D convolution */
          msp_add_q15(&add_params, lea_dst, lea_src, lea_dst);
          {%- endif %}

          {%- else %}

          /* accumulate results for a 2D convolution */
          {%- if lea_opt %}
          new_add_q15(lea_dst, lea_tmp, lea_dst);
          {%- else %}
          msp_add_q15(&add_params, lea_dst, lea_tmp, lea_dst);
          {%- endif %}
          {%- endif %}

          {%- if lea_opt %}
          conv_flt += tapLength;
          {%- else %}
          conv_flt += conv_params.tapLength;
          {%- endif %}

          {%- if (not has_adaptive_gen_mem) or (in_line_size >= adaptive_gen_mem_size) %}
          tmp_input_addr += input_line_size_offset;
          {%- endif %}
        }

        /* bring back output from LEA RAM */
        {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
        {%- for n in range(out_line_size) %}
        output->data[tmp_output_pos] = lea_dst[{{ loop.index0 }}];
        tmp_output_pos++;
        {%- endfor %}

        {%- else %}
        DMA_makeTransfer(output_lea_addr, tmp_output_addr, output_line_size);
        {%- endif %}

        {%- if (not has_adaptive_gen_mem) or (out_line_size >= adaptive_gen_mem_size) %}
        tmp_output_addr += output_line_size_offset;
        {%- endif %}

        {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
        {%- if stride_row > 1 %}
        input_channel_pos += input_line_strided_size;
        {%- else %}
        input_channel_pos += input_line_size;
        {%- endif %}

        {%- else %}
        {%- if stride_row > 1 %}
        input_channel_addr += input_line_strided_size_offset;
        {%- else %}
        input_channel_addr += input_line_size_offset; 
        {%- endif %}

        {%- endif %}
      }
      {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
      input_fram_pos += input_len;
      {%- else %}
      input_fram_addr += input_channel_offset;
      {%- endif %}
    }
{%- if group == 1 %}
    {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
    output_fram_pos += output_len;
    {%- else %}
    output_fram_addr += output_addr_offset;
    {%- endif %}
  }
{%- endif %}

  /* add bias and left shift */
  output_fram_addr = (uintptr_t)(output->data);

  _q15* lea_add = lea_src;
  {%- if (global_mem_buffer and out_len >= lea_buffer_size) or ((not global_mem_buffer) and out_len >= lea_src_size) %}
  uint16_t add_size = _LEA_ADD_SIZE;
  {%- endif %}
  uintptr_t lea_add_addr = (uintptr_t)lea_add;
  for (uint16_t i = 0; i < out_channels; ++i) {
    {%- if lea_opt %}
    set_offset(bias->data[i]);
    {%- else %}
    offset_params.offset = bias->data[i];
    {%- endif %}

    {%- if (global_mem_buffer and (out_len % lea_buffer_size) != 0) or ((not global_mem_buffer) and (out_len % lea_src_size) != 0) %}

    {%- if lea_opt %}
    lea_offset_params->vectorSize = lea_remain_size_aligned;
    {%- if qf > 0 %}
    lea_add_params->vectorSize = lea_remain_size_aligned;
    {%- endif %}
    {%- else %}
    offset_params.length = lea_remain_size_aligned;
    {%- if qf > 0 %}
    add_params.length = lea_remain_size_aligned;
    {%- endif %}
    {%- endif %}

    DMA_makeTransfer(output_fram_addr, lea_add_addr, lea_remain_size);
    {% for i in range(qf) %}
    {%- if lea_opt %}
    new_add_q15(lea_add, lea_add, lea_add);
    {%- else %}
    msp_add_q15(&add_params, lea_add, lea_add, lea_add);
    {%- endif %}
    {%- endfor %}
    {%- if lea_opt %}
    new_offset_q15(lea_add, lea_add);
    {%- else %}
    msp_offset_q15(&offset_params, lea_add, lea_add);
    {%- endif %}

    DMA_makeTransfer(lea_add_addr, output_fram_addr, lea_remain_size);
    output_fram_addr += output_remain_size_offset;
    {%- endif %}
    {%- if (global_mem_buffer and out_len >= lea_buffer_size) or ((not global_mem_buffer) and out_len >= lea_src_size) %}

    {%- if lea_opt %}
    lea_offset_params->vectorSize = add_size;
    {%- if qf > 0 %}
    lea_add_params->vectorSize = add_size;
    {%- endif %}
    {%- else %}
    offset_params.length = add_size;
    {%- if qf > 0 %}
    add_params.length = add_size;
    {%- endif %}
    {%- endif %}

    for (uint16_t j = lea_remain_size; j < output_len; j += add_size) {
      DMA_makeTransfer(output_fram_addr, lea_add_addr, add_size);
      {% for i in range(qf) %}
      {%- if lea_opt %}
      new_add_q15(lea_add, lea_add, lea_add);
      {%- else %}
      msp_add_q15(&add_params, lea_add, lea_add, lea_add);
      {%- endif %}
      {%- endfor %}
      {%- if lea_opt %}
      new_offset_q15(lea_add, lea_add);
      {%- else %}
      msp_offset_q15(&offset_params, lea_add, lea_add);
      {%- endif %}

      DMA_makeTransfer(lea_add_addr, output_fram_addr, add_size);
      output_fram_addr += output_lea_min_size_offset;
    }
    {%- endif %}
  }

  {%- if lea_opt %}
  offset_clear();
  fir_clear();
  add_clear();
  {%- if stride_col > 1 %}
  deinterleave_clear();
  {%- endif %}
  {%- endif %}
}
