#include <layers/include/utils.h>
#include <layers/include/{{ layer_name }}.h>
#include <buffer/include/buffer.h>
{%- if debug %}
#include <libmspsyncioutils/mspsyncioutils.h>
#include <libmsptimer/timekeeper.h>
{%- endif %}

{{ code }}