#include <libdsp/DSPLib.h>
#include <libmatAbstract/mat.h>
#include <libmsp/mspbase.h>
#include <libmspdriver/driverlib.h>
#include <msp430.h>
{%- if debug %}
#include <libmspsyncioutils/mspsyncioutils.h>
#include <libmsptimer/timekeeper.h>
{%- endif %}

#include <include/{{ model_name }}.h>
#include <buffer/include/buffer.h>
#include <buffer/include/input.h>
{%- if has_add_buffer %}
#include <buffer/include/add_buffer.h>
{%- endif %}

{% for layer in layer_list -%}
#include <layers/include/{{ layer.name }}.h>
{% endfor -%}
#include <layers/include/utils.h>

{% for layer in layer_list -%}
{% if layer.has_weights %}
#include <params/include/{{ layer.name }}.h>
{%- endif -%}
{% endfor %}

uint16_t {{ model_name }}(mat_t* model_in) {
{#- Prepare the input data #}
  DMA_makeTransfer((uint32_t)(model_in->data), (uint32_t)({{ layer_list[0].name }}_in_meta.data), MAT_GET_SIZE(model_in));
  {%- if debug %}
  msp_send_printf("\n============== Input ==============\n");
  msp_send_mat(model_in);
  {%- endif %}
{#- layers #}
  {%- for layer in layer_list %}
  /* {{ layer.name }} */
  {%- if layer.has_weights %}
  {{ layer.name }}(&{{ layer.name }}_in_meta, &{{ layer.name }}_out_meta, &{{ layer.weight_name }}_meta, &{{ layer.bias_name }}_meta);
  {%- else %}
  {{ layer.name }}(&{{ layer.name }}_in_meta, &{{ layer.name }}_out_meta);
  {%- endif -%}

  {%- if layer.name in add_buffer_list %}
  DMA_makeTransfer((uint32_t)({{ layer.name }}_out_meta.data), (uint32_t)({{ add_buffer_list[layer.name] }}_add_buffer_meta.data), MAT_GET_SIZE(&{{ layer.name }}_out_meta));
  {%- endif %}

  {%- if debug %}
  msp_send_printf("\n============== Output of {{ layer.name }} ==============\n");
  msp_send_mat(&{{ layer.name }}_out_meta);
  {%- endif %}
  {%- endfor %}
{#- classification #}
  /* Get the max score */
  uint16_t max = 0;
  for (uint16_t i = 0; i < {{ last_layer }}_out_meta.dims[1]; ++i) {
    max = {{ last_layer }}_out_meta.data[max] > {{ last_layer }}_out_meta.data[i] ? max : i;
  }

  return max;
}