#ifndef UTILS_H
#define UTILS_H

#include <libfixedAbstract/fixed.h>
#include <libmspdriver/driverlib.h>
#include <libmatAbstract/mat.h>
#include <stdint.h>
#include <libdsp/DSPLib.h>
{% if global_mem_buffer %}
#define LEA_SIZE {{ lea_size }}
{%- else %}
#define LEA_FLT_SIZE {{ lea_size }}
#define LEA_SRC_SIZE {{ lea_size }}
#define LEA_DST_SIZE {{ lea_size }}
#define LEA_TMP_SIZE {{ lea_size }}
{%- endif %}

#define LUPE_MIN 0x8000
#define LUPE_Q15_MAX 32766 // 2^15 - 2

#define MAKE_ALIGN_2(s) ((s) + ((s) & 0x1))

{% if global_mem_buffer %}
extern _q15 lea_buffer[];
{%- else %}
extern _q15 lea_flt[];
extern _q15 lea_src[];
extern _q15 lea_tmp[];
extern _q15 lea_dst[];
{%- endif %}
extern _iq31 lea_res[];

extern DMA_initParam dma_config;
{% if lea_opt %}
extern MSP_LEA_ADDMATRIX_PARAMS* lea_add_params;
extern MSP_LEA_FIR_PARAMS* lea_fir_params;
extern MSP_LEA_MAC_PARAMS* lea_mac_params;
{%- if qf > 0 %}
extern MSP_LEA_ADDMATRIX_PARAMS* lea_offset_params;
extern int16_t* offset_vector;
{%- endif %}
{%- endif %}

#define GET_MAT_SIZE(mat) ((mat)->strides[0] * (mat)->dims[0])

{% if dma_opt %}
// DMAEN | DMAREQ
#define DMA_EN_SIG 0x0011

#define _lupe_data16_write_addr(addr, src) ({ \
  uintptr_t __src = src; \
  __asm__  __volatile__ ("movx.a %1, %0\n\t" : "=m"(addr) : "r"(__src)); \
})

#define __lupe_data16_write_addr(addr, src) _lupe_data16_write_addr((addr), (src))

#define DMA_makeTransfer(src, dst, size) {\
  __lupe_data16_write_addr((DMA0SA), (src)); \
  __lupe_data16_write_addr((DMA0DA), (dst)); \
  DMA0SZ = size; \
  DMA0CTL |= DMA_EN_SIG; \
  __bis_SR_register(GIE + LPM0_bits); \
}

#define DMA_setWord(dst, word, size) {\
  __lupe_data16_write_addr((DMA1SA), ((uint32_t)(&word))); \
  __lupe_data16_write_addr((DMA1DA), (dst)); \
  DMA1SZ = size; \
  DMA1CTL |= DMA_EN_SIG; \
  __bis_SR_register(GIE + LPM0_bits); \
}
{% else %}
#define DMA_makeTransfer(src, dst, size) {\
	DMA_setTransferSize(dma_config.channelSelect, size); \
	DMA_setSrcAddress(dma_config.channelSelect, src, DMA_DIRECTION_INCREMENT); \
  DMA_setDstAddress(dma_config.channelSelect, dst, DMA_DIRECTION_INCREMENT); \
	DMA_enableTransfers(dma_config.channelSelect); \
  uint16_t interruptState = __get_interrupt_state(); \
  __disable_interrupt(); \
  DMA_startTransfer(dma_config.channelSelect); \
	__bis_SR_register(GIE + LPM0_bits); \
	__set_interrupt_state(interruptState); \
}
{%- endif %}

{% if lea_opt %}
void add_init(uint16_t length);

void fir_init(uint16_t length, uint16_t tapLength);

void mac_init(uint16_t length);

void offset_init(uint16_t length);

void add_clear();

void fir_clear();

void mac_clear();

void offset_clear();
{%- endif %}

void init_lupe();

#endif