void {{ layer_name }}(mat_t* input, mat_t* output) {
  uint16_t size = input->strides[0];
  for (uint16_t i = 0; i < size; ++i) {
    int16_t val = input->data[i];
    output->data[i] = {{ update_code }};
  }
}
