{% if flt_size == 1 and acceleration == 'mac'%}
{# Piecewise convolution #}
{%- if lea_opt %}
static inline __attribute__((always_inline)) void set_offset(int16_t offset) {
  offset_vector[0] = offset;
  offset_vector[1] = offset;
}

static inline __attribute__((always_inline)) void new_offset_q15(const _q15* src, _q15* dst) {
  lea_offset_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(src);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_offset_params);

  /* Invoke the LEACMD__ADDMATRIX command. */
  msp_lea_invokeCommand(LEACMD__ADDMATRIX);
}

static inline __attribute__((always_inline)) void new_mac_q15(const _q15 *srcA, const _q15 *srcB) {
  lea_mac_params->input2 = MSP_LEA_CONVERT_ADDRESS(srcB);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(srcA);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_mac_params);

  /* Invoke the LEACMD__MAC command. */
  msp_lea_invokeCommand(LEACMD__MAC);
}
{%- endif %}

void {{ layer_name }}(mat_t* input, mat_t* output, mat_t* weight, mat_t* bias) {
  uint16_t in_channels = input->dims[1];
  uint16_t out_channels = output->dims[1];
  uint16_t output_len = output->strides[1];
  uint16_t input_len = input->strides[1];

  uint32_t flt_lea_addr = (uint32_t)lea_flt;
  uint32_t flt_fram_addr = (uint32_t)(weight->data);
  uint32_t flt_addr_offset = in_channels * sizeof(int16_t);
  uint32_t input_fram_addr = (uint32_t)(input->data);
  uint32_t input_fram_offset = in_channels * sizeof(int16_t);
  uint32_t output_fram_addr = (uint32_t)(output->data);

  uint16_t input_row_size = input->dims[2];
  uint16_t input_line_size = input->dims[3];

  uint16_t lea_remain_size = output_len % LEA_MIN_SIZE;
  uint16_t lea_remain_size_aligned = MAKE_ALIGN_2(lea_remain_size);
  {%- if (out_len % lea_min_size) != 0 %}
  uint32_t output_remain_size_offset = lea_remain_size * sizeof(int16_t);
  {%- endif %}
  {%- if out_len >= lea_min_size %}
  uint32_t output_lea_min_size_offset = LEA_MIN_SIZE * sizeof(int16_t);
  {%- endif %}

  uint32_t src_lea_addr = (uint32_t)lea_src;
  uint32_t dst_lea_addr = (uint32_t)lea_dst;

  msp_fill_q15_params fill_params = { .length = LEA_SRC_SIZE, .value = 0 };
  {%- if lea_opt %}
  mac_init(MAKE_ALIGN_2(in_channels));
  offset_init(lea_remain_size_aligned);
  {%- else %}
  msp_mac_q15_params mac_params = { .length = MAKE_ALIGN_2(in_channels) };
  msp_offset_q15_params offset_params = { .length = lea_remain_size_aligned, .offset = 0 };
  {%- endif %}
  {%- if has_adaptive_gen_mem %}
  uint16_t dst_pos;
  uint16_t s;
  {%- endif %}
  {% if stride_row > 1 %}
  uint16_t stride_row = {{ stride_row }};
  {%- endif %}

  {%- if stride_col > 1 %}
  uint16_t stride_col = {{ stride_col }};
  {%- endif %}

  {%- if dma_opt %}
  uint16_t zero = 0;
  {%- endif %}

  /* reset LEA's RAM */
  msp_fill_q15(&fill_params, lea_src);

  fill_params.length = LEA_FLT_SIZE;
  msp_fill_q15(&fill_params, lea_flt);

  fill_params.length = LEA_DST_SIZE;
  msp_fill_q15(&fill_params, lea_dst);

  fill_params.length = LEA_DST_SIZE;
  msp_fill_q15(&fill_params, lea_tmp); 
  {%- if padding %}

  /* Pad the input for ({{ padding["left"] }}, {{ padding["right"] }}, {{ padding["top"] }}, {{ padding["bottom"] }}) */
  {%- if dma_opt %}
  DMA_setWord(output_fram_addr, zero, GET_MAT_SIZE(input));
  {%- else %}
  memset(output->data, 0, GET_MAT_SIZE(input)*sizeof(int16_t));
  {%- endif %}
  uint16_t input_line_num = input->dims[2] - {{ padding["top"] + padding["bottom"] }};
  uint16_t input_line_size_bf = input->dims[3] - {{ padding["left"] + padding["right"] }};
  _q15* padding_ptr_in = input->data;
  _q15* padding_ptr_out = output->data;
  for (uint16_t i = 0; i < in_channels; ++i) {
    {%- for n in range(padding["top"]) %}
    padding_ptr_out += input_line_size;
    {%- endfor %}
    for (uint16_t j = 0; j < input_line_num; ++j) {
      padding_ptr_out += {{ padding["left"] }};
      {%- if has_adaptive_gen_mem and (in_line_size - padding["left"] - padding["right"] < adaptive_gen_mem_size) %}
      {%- for n in range(in_line_size - padding["left"] - padding["right"]) %}
      *padding_ptr_out = *padding_ptr_in;
      ++padding_ptr_out;
      ++padding_ptr_in;
      {%- endfor %}

      padding_ptr_out += {{ padding["right"] }};
      {%- else %}
      DMA_makeTransfer((uint32_t)padding_ptr_in, (uint32_t)padding_ptr_out, input_line_size_bf);
      padding_ptr_in += input_line_size_bf;
      padding_ptr_out += ({{ padding["right"] }} + input_line_size_bf);
      {%- endif %}
    }
    {%- for n in range(padding["bottom"]) %}
    padding_ptr_out += input_line_size;
    {%- endfor %}
  }
  DMA_makeTransfer(output_fram_addr, input_fram_addr, GET_MAT_SIZE(input));
  {%- endif %} 
  /* Rebuild the input for MAC */
  uint16_t ptwise_pos = 0;
  for (uint16_t r = 0; r < input_row_size; r += stride_row) {
    for (uint16_t m = 0; m < input_line_size; m += stride_col) {
      uint16_t input_pos = r + m;
      for (uint16_t n = 0; n < in_channels; ++n) {
        output->data[ptwise_pos] = input->data[input_pos];
        ++ptwise_pos;
        input_pos += input_len;
      }
    }
  }
  DMA_makeTransfer(output_fram_addr, input_fram_addr, GET_MAT_SIZE(input));

  /* convolution */
  for (uint16_t i = 0; i < out_channels; ++i) {
    {%- if lea_opt %}
    set_offset(bias->data[i]);
    {%- else %}
    offset_params.offset = bias->data[i];
    {%- endif %}
    input_fram_addr = (uint32_t)(input->data);

    DMA_makeTransfer(flt_fram_addr, flt_lea_addr, in_channels);

    {%- if (out_len % lea_min_size) != 0 %}
    for (uint16_t l = 0; l < lea_remain_size; ++l) {
      DMA_makeTransfer(input_fram_addr, src_lea_addr, in_channels);
      msp_mac_q15(&mac_params, lea_src, lea_flt, lea_res);
      lea_tmp[l] = (int16_t)(lea_res[0] >> {{ 16 - qf }});

      input_fram_addr += input_fram_offset;
    }

    {%- if lea_opt %}
    lea_offset_params->vectorSize = lea_remain_size_aligned;
    {%- else %}
    offset_params.length = lea_remain_size_aligned;
    {%- endif %}
    {%- if lea_opt %}
    new_offset_q15(lea_tmp, lea_dst);
    {%- else %}
    msp_offset_q15(&offset_params, lea_tmp, lea_dst);
    {%- endif %}

    DMA_makeTransfer(dst_lea_addr, output_fram_addr, lea_remain_size);
    output_fram_addr += output_remain_size_offset;
    {%- endif %}
    {%- if out_len >= lea_min_size %}

    {%- if lea_opt %}
    lea_offset_params->vectorSize = LEA_MIN_SIZE;
    {%- else %}
    offset_params.length = LEA_MIN_SIZE;
    {%- endif %}

    for (uint16_t m = lea_remain_size; m < output_len; m += LEA_MIN_SIZE) {
      for (uint16_t l = 0; l < LEA_MIN_SIZE; ++l) {
        DMA_makeTransfer(input_fram_addr, src_lea_addr, in_channels);
        {%- if lea_opt %}
        new_mac_q15(lea_src, lea_flt);
        {%- else %}
        msp_mac_q15(&mac_params, lea_src, lea_flt, lea_res);
        {%- endif %}
        lea_tmp[l] = (int16_t)(lea_res[0] >> {{ 16 - qf }});

        input_fram_addr += input_fram_offset;
      }

      {%- if lea_opt %}
      new_offset_q15(lea_tmp, lea_dst);
      {%- else %}
      msp_offset_q15(&offset_params, lea_tmp, lea_dst);
      {%- endif %}

      DMA_makeTransfer(dst_lea_addr, output_fram_addr, LEA_MIN_SIZE);
      output_fram_addr += output_lea_min_size_offset;
    }
    {%- endif %}
    flt_fram_addr += flt_addr_offset;
  }

  {%- if lea_opt %}
  offset_clear();
  mac_clear();
  {%- endif %}
}
{% else %}
{%- if acceleration == 'fir' %}
{%- if lea_opt %}
static inline __attribute__((always_inline)) void new_add_q15(const _q15* srcA, const _q15* srcB, _q15* dst) {
  lea_add_params->input2 = MSP_LEA_CONVERT_ADDRESS(srcB);
  lea_add_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(srcA);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_add_params);

  /* Invoke the LEACMD__ADDMATRIX command. */
  msp_lea_invokeCommand(LEACMD__ADDMATRIX);
}

static inline __attribute__((always_inline)) void new_fir_q15(_q15* coeffs, const _q15* src, _q15* dst) {
  /* Set MSP_LEA_FIR_PARAMS structure. */
  lea_fir_params->coeffs = MSP_LEA_CONVERT_ADDRESS(coeffs);
  lea_fir_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(src);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_fir_params);

  /* Invoke the LEACMD__FIR command. */
  msp_lea_invokeCommand(LEACMD__FIR);
}

static inline __attribute__((always_inline)) void set_offset(int16_t offset) {
  offset_vector[0] = offset;
  offset_vector[1] = offset;
}

static inline __attribute__((always_inline)) void new_offset_q15(const _q15* src, _q15* dst) {
  lea_offset_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(src);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_offset_params);

  /* Invoke the LEACMD__ADDMATRIX command. */
  msp_lea_invokeCommand(LEACMD__ADDMATRIX);
}
{%- endif %}

void {{ layer_name }}(mat_t* input, mat_t* output, mat_t* weight, mat_t* bias) {
  uint16_t in_channels = input->dims[1];
  uint16_t out_channels = output->dims[1];
  uint16_t output_len = output->strides[1];
  uint16_t input_len = input->strides[1];
  uint16_t kernel_size = weight->dims[2];

  uint32_t src_lea_addr = (uint32_t)lea_src;
  uint32_t dst_lea_addr = (uint32_t)lea_dst;

  uint32_t flt_lea_addr = (uint32_t)lea_flt;
  uint32_t flt_fram_addr = (uint32_t)(weight->data);
  {%- if flt_size % 2 == 0 %}
  uint16_t flt_len = weight->strides[1];
  uint32_t flt_addr_offset = flt_len * sizeof(int16_t);
  {%- endif %}
  uint32_t flt_addr_row_offset = kernel_size * sizeof(int16_t);
  uint32_t flt_addr_padding_offset = (kernel_size + 1) * sizeof(int16_t);
  uint32_t input_lea_addr = src_lea_addr;
  uint32_t input_fram_addr = (uint32_t)(input->data);
  uint32_t input_channel_addr = input_fram_addr;
  uint32_t input_channel_offset = input_len * sizeof(int16_t);
  uint32_t output_lea_addr = dst_lea_addr;
  uint32_t output_fram_addr = (uint32_t)(output->data);
  uint32_t output_addr_offset = output_len * sizeof(int16_t);

  int16_t* conv_flt = lea_flt;
  uint16_t input_line_size = input->dims[3];
  uint16_t output_line_size = output->dims[3];
  uint16_t output_line_num = output->dims[2];
  uint16_t output_line_size_offset = output_line_size * sizeof(int16_t);
  uint16_t input_line_size_offset = input_line_size * sizeof(int16_t);
  uint16_t lea_remain_size = output_len % LEA_MIN_SIZE;
  uint16_t lea_remain_size_aligned = MAKE_ALIGN_2(lea_remain_size);
  {%- if (out_len % lea_min_size) != 0 %}
  uint32_t output_remain_size_offset = lea_remain_size * sizeof(int16_t);
  {%- endif %}
  {%- if out_len >= lea_min_size %}
  uint32_t output_lea_min_size_offset = LEA_MIN_SIZE * sizeof(int16_t);
  {%- endif %}
  {% if stride_row > 1 %}
  uint16_t stride_row = {{ stride_row }};
  uint16_t input_line_strided_size_offset = input_line_size * stride_row * sizeof(int16_t);
  {%- endif %}

  {%- if stride_col > 1 %}
  msp_deinterleave_q15_params deinterleave_params = {
    .length = MAKE_ALIGN_2(output_line_size),
    .channel = 0,
    .numChannels = {{ stride_col }}
  };
  {%- endif %}
  {% if lea_opt %}
  uint16_t tapLength = MAKE_ALIGN_2(kernel_size);
  add_init(MAKE_ALIGN_2(output_line_size));
  fir_init(MAKE_ALIGN_2(input_line_size - kernel_size + 1), tapLength);
  offset_init(lea_remain_size_aligned);
  {%- else %}
  msp_fir_q15_params conv_params = {
    .length = MAKE_ALIGN_2(input_line_size - kernel_size + 1),
    .tapLength = MAKE_ALIGN_2(kernel_size),
    .coeffs = lea_flt,
    .enableCircularBuffer = false 
  };
  msp_add_q15_params add_params = { .length = MAKE_ALIGN_2(output_line_size) };
  msp_offset_q15_params offset_params = { .length = lea_remain_size_aligned, .offset = 0 };
  {%- endif %}
  msp_fill_q15_params fill_params = { .length = LEA_SRC_SIZE, .value = 0 };
  {%- if has_adaptive_gen_mem %}
  uint16_t dst_pos;
  uint16_t s;
  {%- if flt_size < adaptive_gen_mem_size %}
  uint16_t flt_lea_pos = 0;
  uint16_t flt_fram_pos = 0;
  {%- endif %}

  {%- if out_line_size < adaptive_gen_mem_size %}
  uint16_t output_fram_pos = 0;
  {%- endif %}

  {%- if in_line_size < adaptive_gen_mem_size %}
  uint16_t input_fram_pos = 0;
  uint16_t input_channel_pos = 0;

  {%- if stride_row > 1 %}
  uint16_t input_line_strided_size = input_line_size * stride_row;
  {%- endif %}
  {%- endif %}
  {%- endif %}

  {%- if dma_opt %}
  uint16_t zero = 0;
  {%- endif %}

  /* reset LEA's RAM */
  msp_fill_q15(&fill_params, lea_src);

  fill_params.length = LEA_FLT_SIZE;
  msp_fill_q15(&fill_params, lea_flt);

  fill_params.length = LEA_DST_SIZE;
  msp_fill_q15(&fill_params, lea_dst);

  fill_params.length = LEA_DST_SIZE;
  msp_fill_q15(&fill_params, lea_tmp);
  {%- if padding %}

  /* Pad the input for ({{ padding["left"] }}, {{ padding["right"] }}, {{ padding["top"] }}, {{ padding["bottom"] }}) */
  {%- if dma_opt %}
  DMA_setWord(output_fram_addr, zero, GET_MAT_SIZE(input));
  {%- else %}
  memset(output->data, 0, GET_MAT_SIZE(input)*sizeof(int16_t));
  {%- endif %}
  uint16_t input_line_num = input->dims[2] - {{ padding["top"] + padding["bottom"] }};
  uint16_t input_line_size_bf = input->dims[3] - {{ padding["left"] + padding["right"] }};
  _q15* padding_ptr_in = input->data;
  _q15* padding_ptr_out = output->data;
  for (uint16_t i = 0; i < in_channels; ++i) {
    {%- for n in range(padding["top"]) %}
    padding_ptr_out += input_line_size;
    {%- endfor %}
    for (uint16_t j = 0; j < input_line_num; ++j) {
      padding_ptr_out += {{ padding["left"] }};
      {%- if has_adaptive_gen_mem and (in_line_size - padding["left"] - padding["right"] < adaptive_gen_mem_size) %}
      {%- for n in range(in_line_size - padding["left"] - padding["right"]) %}
      *padding_ptr_out = *padding_ptr_in;
      ++padding_ptr_out;
      ++padding_ptr_in;
      {%- endfor %}

      padding_ptr_out += {{ padding["right"] }};
      {%- else %}
      DMA_makeTransfer((uint32_t)padding_ptr_in, (uint32_t)padding_ptr_out, input_line_size_bf);
      padding_ptr_in += input_line_size_bf;
      padding_ptr_out += ({{ padding["right"] }} + input_line_size_bf);
      {%- endif %}
    }
    {%- for n in range(padding["bottom"]) %}
    padding_ptr_out += input_line_size;
    {%- endfor %}
  }

  DMA_makeTransfer(output_fram_addr, input_fram_addr, GET_MAT_SIZE(input));
  {%- endif %} 
  {%- if dma_opt %}
  DMA_setWord(output_fram_addr, zero, GET_MAT_SIZE(output));
  {%- else %}
  memset(output->data, 0, GET_MAT_SIZE(output)*sizeof(int16_t));
  {%- endif %}

  /* convolution */
  for (uint16_t i = 0; i < out_channels; ++i) {
    {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
    input_fram_pos = 0;
    {%- else %}
    input_fram_addr = (uint32_t)(input->data);
    {%- endif %}
    for (uint16_t j = 0; j < in_channels; ++j) {
      {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
      uint16_t tmp_output_pos = output_fram_pos;
      {%- else %}
      uint32_t tmp_output_addr = output_fram_addr;
      {%- endif %}

      {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
      input_channel_pos = input_fram_pos;
      {%- else %}
      input_channel_addr = input_fram_addr;
      {%- endif %}

      /* send kernel to LEA RAM */
      {%- if flt_size % 2 != 0 %}
      /*
      * pad zero to the beginning of the filter if the filter's size is
      * not aligned to 2
      */
      {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
      ++flt_lea_pos;
      {%- else %}
      flt_lea_addr += sizeof(uint16_t);
      {%- endif %}
      fill_params.length = LEA_FLT_SIZE;
      msp_fill_q15(&fill_params, lea_flt);

      for (uint16_t k = 0; k < kernel_size; ++k) {
        {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
        s = flt_fram_pos;
        dst_pos = flt_lea_pos;
        {%- for n in range(flt_size) %}
        lea_flt[dst_pos] = weight->data[s];
        dst_pos++;
        s++;
        {%- endfor %}

        flt_lea_pos += {{ flt_size + 1 }};
        flt_fram_pos += kernel_size;
        {%- else %}
        DMA_makeTransfer(flt_fram_addr, flt_lea_addr, kernel_size);
        flt_lea_addr += flt_addr_padding_offset;
        flt_fram_addr += flt_addr_row_offset;
        {%- endif %}
      }
      /* restore flt_lea_addr pointer to the beginning of the array */
      {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
      flt_lea_pos = 0;
      {%- else %}
      flt_lea_addr = (uint32_t)lea_flt;
      {%- endif %}

      {%- else %}

      {%- if has_adaptive_gen_mem and flt_len < adaptive_gen_mem_size %}
      s = flt_fram_pos;
      {%- for n in range(flt_len) %}
      lea_flt[{{ loop.index0 }}] = weight->data[s];
      s++;
      {%- endfor %}

      flt_fram_pos += flt_len;
      {%- else %}
      DMA_makeTransfer(flt_fram_addr, flt_lea_addr, flt_len);
      flt_fram_addr += flt_addr_offset;
      {%- endif %}

      {%- endif %}

      for (uint16_t l = 0; l < output_line_num; ++l) {
        {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
        uint16_t tmp_input_pos = input_channel_pos;
        {%- else %}
        uint32_t tmp_input_addr = input_channel_addr;
        {%- endif %}
        /* send output to LEA RAM */
        {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
        s = tmp_output_pos;
        {%- for n in range(out_line_size) %}
        lea_dst[{{ loop.index0 }}] = output->data[s];
        s++;
        {%- endfor %}

        {%- else %}
        DMA_makeTransfer(tmp_output_addr, output_lea_addr, output_line_size);
        {%- endif %}

        conv_flt = lea_flt;

        for (uint16_t k = 0; k < kernel_size; ++k) {
          /* send input to LEA RAM */
          {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
          s = tmp_input_pos;
          {%- for n in range(in_line_size) %}
          lea_src[{{ loop.index0 }}] = input->data[s];
          s++;
          {%- endfor %}

          {%- else %}
          DMA_makeTransfer(tmp_input_addr, input_lea_addr, input_line_size);
          {%- endif %}

          {%- if not lea_opt %}
          conv_params.coeffs = conv_flt;
          {%- endif %}

          /* convolution */
          {%- if lea_opt %}
          new_fir_q15(conv_flt, lea_src, lea_tmp);
          {%- else %}
          msp_fir_q15(&conv_params, lea_src, lea_tmp);
          {%- endif %}
          {%- if stride_col > 1 %}
          /*
          * stride
          * Use lea deinterleave and store it in the lea_src
          */
          msp_deinterleave_q15(&deinterleave_params, lea_tmp, lea_src);
          {% if lea_opt %}
          /* accumulate results for a 2D convolution */
          new_add_q15(lea_dst, lea_src, lea_dst);
          {%- else %}
          msp_add_q15(&add_params, lea_dst, lea_src, lea_dst);
          {%- endif %}

          {%- else %}

          /* accumulate results for a 2D convolution */
          {%- if lea_opt %}
          new_add_q15(lea_dst, lea_tmp, lea_dst);
          {%- else %}
          msp_add_q15(&add_params, lea_dst, lea_tmp, lea_dst);
          {%- endif %}
          {%- endif %}

          {%- if lea_opt %}
          conv_flt += tapLength;
          {%- else %}
          conv_flt += conv_params.tapLength;
          {%- endif %}

          {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
          tmp_input_pos += input_line_size;
          {%- else %}
          tmp_input_addr += input_line_size_offset;
          {%- endif %}
        }

        /* bring back output from LEA RAM */
        {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
        dst_pos = tmp_output_pos;
        {%- for n in range(out_line_size) %}
        output->data[dst_pos] = lea_dst[{{ loop.index0 }}];
        dst_pos++;
        {%- endfor %}

        {%- else %}
        DMA_makeTransfer(output_lea_addr, tmp_output_addr, output_line_size);
        {%- endif %}

        {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
        tmp_output_pos += output_line_size;
        {%- else %}
        tmp_output_addr += output_line_size_offset;
        {%- endif %}

        {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
        {%- if stride_row > 1 %}
        input_channel_pos += input_line_strided_size;
        {%- else %}
        input_channel_pos += input_line_size;
        {%- endif %}

        {%- else %}
        {%- if stride_row > 1 %}
        input_channel_addr += input_line_strided_size_offset;
        {%- else %}
        input_channel_addr += input_line_size_offset; 
        {%- endif %}

        {%- endif %}
      }
      {%- if has_adaptive_gen_mem and in_line_size < adaptive_gen_mem_size %}
      input_fram_pos += input_len;
      {%- else %}
      input_fram_addr += input_channel_offset;
      {%- endif %}
    }
    {%- if has_adaptive_gen_mem and out_line_size < adaptive_gen_mem_size %}
    output_fram_pos += output_len;
    {%- else %}
    output_fram_addr += output_addr_offset;
    {%- endif %}
  }

  /* add bias and left shift */
  output_fram_addr = (uint32_t)(output->data);
  for (uint16_t i = 0; i < out_channels; ++i) {
    {%- if lea_opt %}
    set_offset(bias->data[i]);
    {%- else %}
    offset_params.offset = bias->data[i];
    {%- endif %}

    {%- if (out_len % lea_min_size) != 0 %}

    {%- if lea_opt %}
    lea_offset_params->vectorSize = lea_remain_size_aligned;
    {%- if qf > 0 %}
    lea_add_params->vectorSize = lea_remain_size_aligned;
    {%- endif %}
    {%- else %}
    offset_params.length = lea_remain_size_aligned;
    {%- if qf > 0 %}
    add_params.length = lea_remain_size_aligned;
    {%- endif %}
    {%- endif %}

    DMA_makeTransfer(output_fram_addr, src_lea_addr, lea_remain_size);
    {% for i in range(qf) %}
    {%- if lea_opt %}
    new_add_q15(lea_src, lea_src, lea_src);
    {%- else %}
    msp_add_q15(&add_params, lea_src, lea_src, lea_src);
    {%- endif %}
    {%- endfor %}
    {%- if lea_opt %}
    new_offset_q15(lea_src, lea_dst);
    {%- else %}
    msp_offset_q15(&offset_params, lea_src, lea_dst);
    {%- endif %}

    DMA_makeTransfer(dst_lea_addr, output_fram_addr, lea_remain_size);
    output_fram_addr += output_remain_size_offset;
    {%- endif %}
    {%- if out_len >= lea_min_size %}

    {%- if lea_opt %}
    lea_offset_params->vectorSize = LEA_MIN_SIZE;
    {%- if qf > 0 %}
    lea_add_params->vectorSize = LEA_MIN_SIZE;
    {%- endif %}
    {%- else %}
    offset_params.length = LEA_MIN_SIZE;
    {%- if qf > 0 %}
    add_params.length = LEA_MIN_SIZE;
    {%- endif %}
    {%- endif %}

    for (uint16_t j = lea_remain_size; j < output_len; j += LEA_MIN_SIZE) {
      DMA_makeTransfer(output_fram_addr, src_lea_addr, LEA_MIN_SIZE);
      {% for i in range(qf) %}
      {%- if lea_opt %}
      new_add_q15(lea_src, lea_src, lea_src);
      {%- else %}
      msp_add_q15(&add_params, lea_src, lea_src, lea_src);
      {%- endif %}
      {%- endfor %}
      {%- if lea_opt %}
      new_offset_q15(lea_src, lea_dst);
      {%- else %}
      msp_offset_q15(&offset_params, lea_src, lea_dst);
      {%- endif %}

      DMA_makeTransfer(dst_lea_addr, output_fram_addr, LEA_MIN_SIZE);
      output_fram_addr += output_lea_min_size_offset;
    }
    {%- endif %}
  }

  {%- if lea_opt %}
  offset_clear();
  fir_clear();
  add_clear();
  {%- endif %}
}
{%- elif acceleration == 'mac' %}
{%- if lea_opt %}
static inline __attribute__((always_inline)) void new_add_q15(const _q15* srcA, const _q15* srcB, _q15* dst) {
  lea_add_params->input2 = MSP_LEA_CONVERT_ADDRESS(srcB);
  lea_add_params->output = MSP_LEA_CONVERT_ADDRESS(dst);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(srcA);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_add_params);

  /* Invoke the LEACMD__ADDMATRIX command. */
  msp_lea_invokeCommand(LEACMD__ADDMATRIX);
}

static inline __attribute__((always_inline)) void new_mac_q15(const _q15 *srcA, const _q15 *srcB) {
  lea_mac_params->input2 = MSP_LEA_CONVERT_ADDRESS(srcB);

  /* Load source arguments to LEA. */
  LEAPMS0 = MSP_LEA_CONVERT_ADDRESS(srcA);
  LEAPMS1 = MSP_LEA_CONVERT_ADDRESS(lea_mac_params);

  /* Invoke the LEACMD__MAC command. */
  msp_lea_invokeCommand(LEACMD__MAC);
}
{%- endif %}

void {{ layer_name }}(mat_t* input, mat_t* output, mat_t* weight, mat_t* bias) {
  uint16_t in_channels = input->dims[1];
  uint16_t out_channels = output->dims[1];
  uint16_t flt_len = weight->strides[1];
  uint16_t output_len = output->strides[1];
  uint16_t input_len = input->strides[1];
  uint16_t kernel_size = weight->dims[2];

  uint32_t flt_lea_addr = (uint32_t)lea_flt;
  uint32_t flt_fram_addr = (uint32_t)(weight->data);
  uint32_t flt_addr_offset = flt_len * sizeof(int16_t);
  uint32_t flt_channel_offset = weight->strides[0] * sizeof(int16_t);
  uint32_t flt_addr_row_offset = kernel_size * sizeof(int16_t);
  uint32_t input_fram_addr = (uint32_t)(input->data);
  uint32_t input_channel_addr = input_fram_addr;
  uint32_t input_channel_offset = input_len * sizeof(int16_t);
  uint32_t output_fram_addr = (uint32_t)(output->data);
  uint32_t output_addr_offset = output_len * sizeof(int16_t);

  uint16_t input_line_size = input->dims[3];
  uint16_t output_line_size = output->dims[3];
  uint16_t output_line_num = output->dims[2];
  uint16_t input_line_size_offset = input_line_size * sizeof(int16_t);

  uint16_t lea_remain_size = output_len % LEA_MIN_SIZE;
  uint16_t lea_remain_size_aligned = MAKE_ALIGN_2(lea_remain_size);
  {%- if (out_len % lea_min_size) != 0 %}
  uint32_t output_remain_size_offset = lea_remain_size * sizeof(int16_t);
  {%- endif %}
  {%- if out_len >= lea_min_size %}
  uint32_t output_lea_min_size_offset = LEA_MIN_SIZE * sizeof(int16_t);
  {%- endif %}

  uint32_t src_lea_addr = (uint32_t)lea_src;
  uint32_t dst_lea_addr = (uint32_t)lea_dst;

  msp_fill_q15_params fill_params = { .length = LEA_SRC_SIZE, .value = 0 };
  {%- if lea_opt %}
  mac_init(MAKE_ALIGN_2(flt_len));
  add_init(MAKE_ALIGN_2(LEA_MIN_SIZE));
  {%- else %}
  msp_mac_q15_params mac_params = { .length = MAKE_ALIGN_2(flt_len) };
  msp_add_q15_params add_params = { .length = MAKE_ALIGN_2(LEA_MIN_SIZE) };
  {%- endif %}
  {%- if has_adaptive_gen_mem %}
  uint16_t dst_pos;
  uint16_t s;
  {%- if flt_size < adaptive_gen_mem_size %}
  uint16_t input_channel_pos = 0;
  uint16_t input_fram_pos = 0;
  {%- endif %}
  {%- endif %}

  {%- if dma_opt %}
  uint16_t zero = 0;
  {%- endif %}

  /* reset LEA's RAM */
  msp_fill_q15(&fill_params, lea_src);

  fill_params.length = LEA_FLT_SIZE;
  msp_fill_q15(&fill_params, lea_flt);

  fill_params.length = LEA_DST_SIZE;
  msp_fill_q15(&fill_params, lea_dst);

  fill_params.length = LEA_DST_SIZE;
  msp_fill_q15(&fill_params, lea_tmp); 
  {%- if padding %}

  /* Pad the input for ({{ padding["left"] }}, {{ padding["right"] }}, {{ padding["top"] }}, {{ padding["bottom"] }}) */
  {%- if dma_opt %}
  DMA_setWord(output_fram_addr, zero, GET_MAT_SIZE(input));
  {%- else %}
  memset(output->data, 0, GET_MAT_SIZE(input)*sizeof(int16_t));
  {%- endif %}
  uint16_t input_line_num = input->dims[2] - {{ padding["top"] + padding["bottom"] }};
  uint16_t input_line_size_bf = input->dims[3] - {{ padding["left"] + padding["right"] }};
  _q15* padding_ptr_in = input->data;
  _q15* padding_ptr_out = output->data;
  for (uint16_t i = 0; i < in_channels; ++i) {
    {%- for n in range(padding["top"]) %}
    padding_ptr_out += input_line_size;
    {%- endfor %}
    for (uint16_t j = 0; j < input_line_num; ++j) {
      padding_ptr_out += {{ padding["left"] }};
      {%- if has_adaptive_gen_mem and (in_line_size - padding["left"] - padding["right"] < adaptive_gen_mem_size) %}
      {%- for n in range(in_line_size - padding["left"] - padding["right"]) %}
      *padding_ptr_out = *padding_ptr_in;
      ++padding_ptr_out;
      ++padding_ptr_in;
      {%- endfor %}

      padding_ptr_out += {{ padding["right"] }};
      {%- else %}
      DMA_makeTransfer((uint32_t)padding_ptr_in, (uint32_t)padding_ptr_out, input_line_size_bf);
      padding_ptr_in += input_line_size_bf;
      padding_ptr_out += ({{ padding["right"] }} + input_line_size_bf);
      {%- endif %}
    }
    {%- for n in range(padding["bottom"]) %}
    padding_ptr_out += input_line_size;
    {%- endfor %}
  }

  DMA_makeTransfer(output_fram_addr, input_fram_addr, GET_MAT_SIZE(input));
  {%- endif %} 
  /* add bias */
  for (uint16_t i = 0; i < out_channels; ++i) {
    DMA_setWord(output_fram_addr, bias->data[i], output_len);
  }

  /* convolution */
  for (uint16_t i = 0; i < in_channels; ++i) {
    {%- if has_adaptive_gen_mem and (out_len % lea_min_size) < adaptive_gen_mem_size %}
    uint16_t output_channel_pos = 0;
    {%- endif %}
    uint32_t output_channel_addr = output_fram_addr;
    uint32_t flt_tmp_addr = flt_fram_addr;

    /* assemble input to a matrix in mac_buffer */
    {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
    uint16_t mac_buffer_pos = 0;
    input_channel_pos = input_fram_pos;
    {%- else %}
    uint32_t mac_buffer_addr = (uint32_t)lupe_buffer_meta.data;
    input_channel_addr = input_fram_addr;
    {%- endif %}
    for (uint16_t m = 0; m < output_line_num; ++m) {
      {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
      uint16_t tmp_input_pos = input_channel_pos;
      {%- else %}
      uint32_t tmp_input_addr = input_channel_addr;
      {%- endif %}
      for (uint16_t n = 0; n < output_line_size; ++n) {
        {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
        uint16_t tmp_input_row_pos = tmp_input_pos;
        {%- else %}
        uint32_t tmp_input_row_addr = tmp_input_addr;
        {%- endif %}
        for (uint16_t k = 0; k < kernel_size; ++k) {
          {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
          s = tmp_input_row_pos;
          dst_pos = mac_buffer_pos;
          {%- for n in range(flt_size) %}
          lupe_buffer_meta.data[dst_pos] = input->data[s];
          s++;
          dst_pos++;
          {%- endfor %}

          tmp_input_row_pos += input_line_size;
          mac_buffer_pos += kernel_size;
          {%- else %}
          DMA_makeTransfer(tmp_input_row_addr, mac_buffer_addr, kernel_size);

          tmp_input_row_addr += input_line_size_offset;
          mac_buffer_addr += flt_addr_row_offset;
          {%- endif %}
        }
        {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
        tmp_input_pos += 1;
        {%- else %}
        tmp_input_addr += sizeof(int16_t);
        {%- endif %}
      }
      {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
      input_channel_pos += input_line_size;
      {%- else %}
      input_channel_addr += input_line_size_offset;
      {%- endif %}
    }

    for (uint16_t j = 0; j < out_channels; ++j) {
      uint32_t mac_input_addr = (uint32_t)lupe_buffer_meta.data;
      {%- if has_adaptive_gen_mem and (out_len % lea_min_size) < adaptive_gen_mem_size %}
      uint16_t tmp_output_pos = output_channel_pos;
      {%- endif %}
      uint32_t tmp_output_addr = output_channel_addr;

      /*
       * send kernel to LEA RAM
       * assume (lea_flt size >= flt_len + 1)
       */
      DMA_makeTransfer(flt_tmp_addr, flt_lea_addr, flt_len);

      /*
       * The LEA array might be smaller than ouput matrix size, so we need to
       * the computation mutiple times.
       */
      {%- if (out_len % lea_min_size) != 0 %}
      for (uint16_t l = 0; l < lea_remain_size; ++l) {
        DMA_makeTransfer(mac_input_addr, src_lea_addr, flt_len);
        {%- if lea_opt %}
        new_mac_q15(lea_src, lea_flt);
        {%- else %}
        msp_mac_q15(&mac_params, lea_src, lea_flt, lea_res);
        {%- endif %}
        lea_tmp[l] = (int16_t)(lea_res[0] >> {{ 16 - qf }});

        mac_input_addr += flt_addr_offset;
      }

      {%- if lea_opt %}
      lea_add_params->vectorSize = lea_remain_size_aligned;
      {%- else %}
      add_params.length = lea_remain_size_aligned;
      {%- endif %}

      {%- if has_adaptive_gen_mem and (out_len % lea_min_size) < adaptive_gen_mem_size %}
      s = tmp_output_pos;
      {%- for n in range(out_len % lea_min_size) %}
      lea_dst[{{ loop.index0 }}] = output->data[s];
      s++;
      {%- endfor %}

      {%- else %}
      DMA_makeTransfer(tmp_output_addr, dst_lea_addr, lea_remain_size);
      {%- endif %}

      {%- if lea_opt %}
      new_add_q15(lea_dst, lea_tmp, lea_dst);
      {%- else %}
      msp_add_q15(&add_params, lea_dst, lea_tmp, lea_dst);
      {%- endif %}

      {%- if has_adaptive_gen_mem and (out_len % lea_min_size) < adaptive_gen_mem_size %}
      dst_pos = tmp_output_pos;
      {%- for n in range(out_len % lea_min_size) %}
      output->data[dst_pos] = lea_dst[{{ loop.index0 }}];
      dst_pos++;
      {%- endfor %}

      {%- else %}
      DMA_makeTransfer(dst_lea_addr, tmp_output_addr, lea_remain_size);
      {%- endif %}

      {%- if has_adaptive_gen_mem and (out_len % lea_min_size) < adaptive_gen_mem_size %}
      tmp_output_pos += lea_remain_size;
      {%- endif %}
      tmp_output_addr += output_remain_size_offset;
      {%- endif %}

      {%- if out_len >= lea_min_size %}
      {%- if lea_opt %}
      lea_add_params->vectorSize = LEA_MIN_SIZE;
      {%- else %}
      add_params.length = LEA_MIN_SIZE;
      {%- endif %}

      for (uint16_t m = lea_remain_size; m < output_len; m += LEA_MIN_SIZE) {
        for (uint16_t l = 0; l < LEA_MIN_SIZE; ++l) {
          DMA_makeTransfer(mac_input_addr, src_lea_addr, flt_len);
          {%- if lea_opt %}
          new_mac_q15(lea_src, lea_flt);
          {%- else %}
          msp_mac_q15(&mac_params, lea_src, lea_flt, lea_res);
          {%- endif %}
          lea_tmp[l] = (int16_t)(lea_res[0] >> {{ 16 - qf }});

          mac_input_addr += flt_addr_offset;
        }

        DMA_makeTransfer(tmp_output_addr, dst_lea_addr, LEA_MIN_SIZE);
        {%- if lea_opt %}
        new_add_q15(lea_dst, lea_tmp, lea_dst);
        {%- else %}
        msp_add_q15(&add_params, lea_dst, lea_tmp, lea_dst);
        {%- endif %}
        DMA_makeTransfer(dst_lea_addr, tmp_output_addr, LEA_MIN_SIZE);

        tmp_output_addr += output_lea_min_size_offset;
        {%- if has_adaptive_gen_mem and (out_len % lea_min_size) < adaptive_gen_mem_size %}
        tmp_output_pos += LEA_MIN_SIZE;
        {%- endif %}
      }
      {%- endif %}

      flt_tmp_addr += flt_channel_offset;
      output_channel_addr += output_addr_offset;
      {%- if has_adaptive_gen_mem and (out_len % lea_min_size) < adaptive_gen_mem_size %}
      output_channel_pos += output_len;
      {%- endif %}
    }
    {%- if has_adaptive_gen_mem and flt_size < adaptive_gen_mem_size %}
    input_fram_pos += input_len;
    {%- else %}
    input_fram_addr += input_channel_offset;
    {%- endif %}
    flt_fram_addr += flt_addr_offset;
  }
  {%- if lea_opt %}
  add_clear();
  mac_clear();
  {%- endif %}
}
{%- endif %}
{%- endif %}